<!--(bake /templates/bake-includes/page_head.htm)-->
<main id="main">
  <div class="o-wrapper__inner">
    <div class="c-error-page">
      <div class="c-error-page__title">
        <h1>Technical error</h1>
      </div>
      <div class="c-error-page__image">
        <img src="/assets/img/500.png" alt="">
      </div>
      <div class="c-wysiwyg">
        <p>We're sorry but there has been an internal error. It's our fault, not yours.</p>
        <p>We apologise for this inconvienience. If you continue experience difficulities with the page you're trying to reach please contact our support team <a href="mailto:info@company.com">info@company.com</a>.</p>
      </div>
    </div>
  </div>
</main>
<!-- /main-->

<!--(bake /templates/bake-includes/page_foot.htm)-->