<!--(bake /templates/bake-includes/page_head.htm)-->
<div class="o-wrapper__inner">
    <h1>Flexbox Examples</h1>
    <p>Equal height boxes that will fill the available width no matter how many items. Gutter same as set in <code>$susy</code></p>
    <div class="c-flexbox__container">
        <div class="c-flexbox__card">
            <h3>Card title</h3>
            <p>Travel with the family all day for £10</p>
        </div>
        <div class="c-flexbox__card">
            <h3>Card title</h3>
            <p>Travel with the family all day for £10</p>
        </div>
        <div class="c-flexbox__card">
            <h3>Card title</h3>
            <p>Travel with the family all day for £10</p>
        </div>
    </div>
    <br>
    <br>
    <p>Align some stuff to left and other stuff to the right</p>
    <div class="c-flexbox__container">
        <div class="c-flexbox__hermit">
            A thing on its own
        </div>
        <div>
            Thing
        </div>
        <div>
            Thing
        </div>
        <div>
            Thing
        </div>
        <div>
            Thing
        </div>
    </div>
    <br>
    <br>
    <p>Thing on its own with full background</p>
    <div class="c-flexbox__container">
        <div class="c-flexbox__hermit--full">
            A thing on its own
        </div>
        <div>
            Thing
        </div>
        <div>
            Thing
        </div>
        <div>
            Thing
        </div>
        <div>
            Thing
        </div>
    </div>
    <br>
    <br>
    <p>Change order</p>
    <div class="c-flexbox__container">
        <div class="c-flexbox__1">
            1
        </div>
        <div class="c-flexbox__2">
            2
        </div>
        <div class="c-flexbox__3">
            3
        </div>
    </div>
    <br>
    <br>
    <p>Wrap</p>
    <p>Stretch</p>
</div>
<!--(bake /templates/bake-includes/page_foot.htm)-->
