<!--(bake /templates/bake-includes/page_head.htm)-->
<div class="o-wrapper__inner">
    <h1>Grids</h1>
    <h2>Sidebar - Right</h2>
    <div class="o-row--3col">
        <div class="o-col--x2" style="background:#ccc">
            o-col--x2
        </div>
        <div class="o-col" style="background:#999">
            o-col
        </div>
    </div>
    <h3>Example of Spread</h3>
    <div class="o-row--3col o-row--spread">
        <div class="o-col--x2" style="background:#ccc">
            o-col--x2
        </div>
        <div class="o-col" style="background:#999">
            o-col
        </div>
    </div>
    <!--/sidebar right-->
    <h2>Sidebar - Left</h2>
    <div class="o-row--3col">
        <div class="o-col" style="background:#999">
            o-col
        </div>
        <div class="o-col--x2" style="background:#ccc">
            o-col--x2
        </div>
    </div>
     <h3>Example of Spread</h3>
    <div class="o-row--3col o-row--spread">
        <div class="o-col" style="background:#ccc">
            o-col
        </div>
        <div class="o-col--x2" style="background:#999">
            o-col--x2
        </div>
    </div>
    <!--/sidebar left-->
    <h2>Sidebar - Left &amp; Right</h2>
    <div class="o-row--4col">
        <div class="o-col" style="background:#ccc">
            o-col
        </div>
        <div class="o-col--x2" style="background:#999">
            o-col--x2
        </div>
        <div class="o-col" style="background:#ccc">
            o-col
        </div>
    </div>
    <h3>Example of Spread - Left &amp; Right</h3>
    <div class="o-row--4col o-row--spread">
        <div class="o-col" style="background:#ccc">
            o-col
        </div>
        <div class="o-col--x2" style="background:#999">
            o-col--x2
        </div>
        <div class="o-col" style="background:#ccc">
            o-col
        </div>
    </div>
    <h3>Example of Spread - Left</h3>
    <div class="o-row--4col  o-row--spreadleft">
        <div class="o-col" style="background:#ccc">
            o-col
        </div>
        <div class="o-col--x2" style="background:#999">
            o-col--x2
        </div>
        <div class="o-col" style="background:#ccc">
            o-col
        </div>
    </div>
    <h3>Example of Spread - Right</h3>
    <div class="o-row--4col  o-row--spreadright">
        <div class="o-col" style="background:#ccc">
            o-col
        </div>
        <div class="o-col--x2" style="background:#999">
            o-col--x2
        </div>
        <div class="o-col" style="background:#ccc">
            o-col
        </div>
    </div>
    <!--/sidebar left & right-->
    <h2>2 Equal Columns</h2>
    <div class="o-row--2col">
        <div class="o-col" style="background:#ccc">
            o-col
        </div>
        <div class="o-col" style="background:#999">
            o-col
        </div>
    </div>
    <!--/2 Equal Columns-->
    <h2>2 Column Gallery</h2>
    <div class="o-row--2col--gal">
        <div class="o-col" style="background:#ccc">
            o-col
        </div>
        <div class="o-col" style="background:#999">
            o-col
        </div>
        <div class="o-col" style="background:#ccc">
            o-col
        </div>
        <div class="o-col" style="background:#999">
            o-col
        </div>
    </div>
    <!--/2 Column Gallery-->
    <h2>3 Column Gallery</h2>
    <div class="o-row--3col--gal">
        <div class="o-col" style="background:#ccc">
            o-col
        </div>
        <div class="o-col" style="background:#999">
            o-col
        </div>
        <div class="o-col" style="background:#ccc">
            o-col
        </div>
        <div class="o-col" style="background:#999">
            o-col
        </div>
        <div class="o-col" style="background:#ccc">
            o-col
        </div>
        <div class="o-col" style="background:#999">
            o-col
        </div>
    </div>
    <!--/3 Column Gallery-->
    <h2>4 Column Gallery</h2>
    <div class="o-row--4col--gal">
        <div class="o-col" style="background:#ccc">
            o-col
        </div>
        <div class="o-col" style="background:#999">
            o-col
        </div>
        <div class="o-col" style="background:#ccc">
            o-col
        </div>
        <div class="o-col" style="background:#999">
            o-col
        </div>
        <div class="o-col" style="background:#ccc">
            o-col
        </div>
        <div class="o-col" style="background:#999">
            o-col
        </div>
        <div class="o-col" style="background:#ccc">
            o-col
        </div>
        <div class="o-col" style="background:#999">
            o-col
        </div>
    </div>
    <!--/4 Column Gallery-->
</div>
<!--(bake /templates/bake-includes/page_foot.htm)-->
