//_settings.fonts.scss

//PRIMARY TYPEFACE
$font-primary: "Arial Black", "Arial Bold", Gadget, sans-serif;

@mixin font-primary {
    font-family: $font-primary;
    font-weight: 900; //needed for firefox, otherwise font-family gets ignored
}

//SECONDARY TYPEFACE
$font-secondary: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;

//TERTIARY TYPEFACE
//$font-tertiary: 

//ADMIN TYPEFACE
