//_settings.colors.scss

// Brand Colours 

$white: #ffffff;
$black: #000000;
$grey:  #cccccc;
$red:   #FF0000;

// Social Colours 

$facebook-color:   #3b5998; // RGB: 59, 89, 152
$twitter-color:    #00aced; // RGB: 0, 172, 237
$googleplus-color: #dd4b39; // RGB: 221, 75, 57
$youtube-color:    #bb0000; // RGB: 187, 0, 0
$linkedin-color:   #007bb6; // RGB: 0, 123, 182
$pinterest-color:  #cb2027; // RGB: 203, 32, 39
$tumblr-color:     #32506d; // RGB: 50, 80, 109

// Brand Theme 

// primary Colours

$primary-color: $black; // Change color;
//$secondary-color: 
//$tertiary-color:
