//_settings.fonts.scss

//PRIMARY TYPEFACE
$font-primary: "Arial", sans-serif;

@mixin font-primary {
    font-family: $font-primary;
    font-weight: normal; //needed for firefox, otherwise font-family gets ignored
}

//SECONDARY TYPEFACE
$font-secondary: "Arial", sans-serif;

//TERTIARY TYPEFACE
//$font-tertiary:

//ADMIN TYPEFACE
