//-------------------------------------------
// _settings.grids.scss
//-------------------------------------------

//    @include span(8 of 12);
//    @include container;

@import "../vendor/susy/susy";

$susy: (
  columns: 12,
  container: 61.250em,
  gutters: 1/4,
  debug: (image: show)
);

@include border-box-sizing;
