//_components.gallery.scss

/*

### Gallery with Carousel Navigation

    <div class="c-gallery js-gallery">
        <div class="c-gallery__item">
            <figure>
                <picture>
                    <img
                        src="../../assets/img/styleguide/banner--fallback.jpg"
                        alt="Banner description">
                </picture>
                <figcaption>Slide O1</figcaption>
            </figure>
        </div>
        <div class="c-gallery__item">
            <figure>
                <picture>
                    <img
                        src="../../assets/img/styleguide/banner--fallback.jpg"
                        alt="Banner description">
                </picture>
                <figcaption>Slide O2</figcaption>
            </figure>
        </div>
    </div>

    <div class="c-gallery-nav js-gallery-nav">
        <div class="c-gallery__item">
            <figure>
                <picture>
                    <img
                        src="../../assets/img/styleguide/banner--fallback.jpg"
                        alt="Banner description">
                </picture>
                <figcaption>Nav O1</figcaption>
            </figure>
        </div>
        <div class="c-gallery__item">
            <figure>
                <picture>
                    <img
                        src="../../assets/img/styleguide/banner--fallback.jpg"
                        alt="Banner description">
                </picture>
                <figcaption>Nav O2</figcaption>
            </figure>
        </div>
    </div>

*/

.c-hero-slider {

  img {
    width:100%;
    height:auto;
  }

  figure {
    position:relative;
    margin:0;
  }

  figcaption {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding:1rem 1rem 2rem 1rem;
    background:$grey-light;
  }

  ul.slick-dots {
    position:absolute;
    bottom:2rem;
    right:1rem;
  }

  .slick-next {
    right:1rem;
  }

  .slick-prev {
    left:1rem;
  }

}

.c-hero__picture {

  img {
    width:100%;
    height:auto;
  }

  figure {
    position:relative;
    margin:0;
  }

  figcaption {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding:1rem;
    background:$grey-light;
  }

}

.c-hero__background {
  width:100%;
  min-height:350px;
  position:relative;

  h2 {
    position:absolute;
    left:1.5rem;
    bottom:1.5rem;
    width:50%;
    padding:1rem;
    margin:0;
    background:rgba(50,50,50,0.75);
    color:$white;
  }
}