/*

### Carousel

    <div class="js-carousel c-carousel">
      <div class="c-carousel__item">
        <a class="c-carousel__link" href="#">
          <img class="c-carousel__image" src="http://placehold.it/150x150.png" alt="placeholder-image" />
        </a>
      </div>
      <div class="c-carousel__item">
        <a class="c-carousel__link" href="#">
          <img class="c-carousel__image" src="http://placehold.it/150x150.png" alt="placeholder-image" />
        </a>
      </div>
      <div class="c-carousel__item">
        <a class="c-carousel__link" href="#">
          <img class="c-carousel__image" src="http://placehold.it/150x150.png" alt="placeholder-image" />
        </a>
      </div>
      <div class="c-carousel__item">
        <a class="c-carousel__link" href="#">
          <img class="c-carousel__image" src="http://placehold.it/150x150.png" alt="placeholder-image" />
          <p class="c-carousel__caption">Caption</p>
        </a>
      </digit v>
    </div>

*/

.c-carousel{
  position: relative;
  width: 100%;
}

.c-carousel__item{
  position: relative;
  display: block;
  margin: 20px gutter(12);
  overflow: hidden;
}

.c-carousel__link{
  display: block;
}

.c-carousel__image{
  display: block;
  width: 100%;
  height: auto;
}

.c-carousel__background-image{
  display: block;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: 50% 50%;
}

.c-carousel__caption{
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 10px;
  margin: 0;
  color: #fff;
  background: rgba(0,0,0, 0.5);
}

.slick-arrow{
  position: absolute;
  z-index: 3;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  padding: 0;
  border: none;
  background: none;
  -webkit-appearance:none;
  font-size: 0;

  &:hover,
  &:focus{

  }

  &.slick-next{
    right: 0;
    text-align: right;

    &:before{
      content: "";
      @include arrow(right, #000, 20px);
    }
  }

  &.slick-prev {
    left: 0;
    text-align: left;

    &:before{
      content: "";
      @include arrow(left, #000, 20px);
    }
  }
}

.slick-dots{
  margin: 0;
  padding: 0;
  text-align: center;

  li{
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;

    button{
      position: relative;
      display: inline-block;
      font-size: 0;
      border: none;
      background: none;
      -webkit-appearance:none;

      &:hover,
      &:focus{

      }

      &:before{
          content: "";
          display: inline-block;
          width: 10px;
          height: 10px;
          background: #000;
      }
    }

    &.slick-active{

      button{
        &:before{
          background: #0ff;
        }

        &:hover,
        &:focus{

        }
      }
    }
  }

}