//-------------------------------------------
// _components.spinners.scss
//-------------------------------------------

.c-spinner__container {
    position: absolute;
    z-index:2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height:300px;
    background: rgba($white,.8);

}

.c-spinner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: auto;
    transform: translateZ(0);
    
    &--inertia-trail {
      font-size:90px;
      animation: inertia-trail 1.7s infinite ease;

    } 
    &--classic {
      animation: classic 1s infinite ease;

    } 
}


@mixin inertia-trail-ani($colour) {
     0% {
        transform: rotate(0);
        box-shadow: 0 -0.83em 0 -0.4em $colour, 0 -0.83em 0 -0.42em rgba($colour,.8), 0 -0.83em 0 -0.44em rgba($colour,.6), 0 -0.83em 0 -0.46em rgba($colour,.4), 0 -0.83em 0 -0.477em rgba($colour,.2);
    }

    5%, 95% {
        box-shadow: 0 -0.83em 0 -0.4em $colour, 0 -0.83em 0 -0.42em rgba($colour,.8), 0 -0.83em 0 -0.44em rgba($colour,.6), 0 -0.83em 0 -0.46em rgba($colour,.4), 0 -0.83em 0 -0.477em rgba($colour,.2);
    }

    10%, 59% {
        box-shadow: 0 -0.83em 0 -0.4em $colour, -0.087em -0.825em 0 -0.42em rgba($colour,.8), -0.173em -0.812em 0 -0.44em rgba($colour,.6), -0.256em -0.789em 0 -0.46em rgba($colour,.4), -0.297em -0.775em 0 -0.477em rgba($colour,.2);
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em $colour, -0.338em -0.758em 0 -0.42em rgba($colour,.8), -0.555em -0.617em 0 -0.44em rgba($colour,.6), -0.671em -0.488em 0 -0.46em rgba($colour,.4), -0.749em -0.34em 0 -0.477em rgba($colour,.2);
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em $colour, -0.377em -0.74em 0 -0.42em rgba($colour,.8), -0.645em -0.522em 0 -0.44em rgba($colour,.6), -0.775em -0.297em 0 -0.46em rgba($colour,.4), -0.82em -0.09em 0 -0.477em rgba($colour,.2);
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 0 -0.83em 0 -0.4em $colour, 0 -0.83em 0 -0.42em rgba($colour,.8), 0 -0.83em 0 -0.44em rgba($colour,.6), 0 -0.83em 0 -0.46em rgba($colour,.4), 0 -0.83em 0 -0.477em rgba($colour,.2);
    }

}
@mixin classic-ani($colour) {
  0%,
  100% {
    box-shadow:0em -2.6em 0em 0em $colour,1.25em -2.25em 0em 0em rgba($colour,.2), 2.15em -1.25em 0 0em rgba($colour,.2), 2.5em 0em 0 0em rgba($colour,.2), 2.1em 1.15em 0em 0em rgba($colour,.2), 1.25em 2.1em 0 0em rgba($colour,.2), 0em 2.5em 0 0em rgba($colour,.3), -1.25em 2.1em 0em 0em rgba($colour,.4), -2.1em 1.15em 0 0em rgba($colour,.5), -2.6em 0em 0 0em rgba($colour,.6),  -2.15em -1.25em 0 0em rgba($colour,.7), -1.25em -2.25em 0em 0em rgba($colour,.8);
  }
  9.09% {
    box-shadow:0em -2.6em 0em 0em rgba($colour,.8),1.25em -2.25em 0em 0em $colour, 2.15em -1.25em 0 0em rgba($colour,.2), 2.5em 0em 0 0em rgba($colour,.2), 2.1em 1.15em 0em 0em rgba($colour,.2), 1.25em 2.1em 0 0em rgba($colour,.2), 0em 2.5em 0 0em rgba($colour,.2), -1.25em 2.1em 0em 0em rgba($colour,.3), -2.1em 1.15em 0 0em rgba($colour,.4), -2.6em 0em 0 0em rgba($colour,.5),  -2.15em -1.25em 0 0em rgba($colour,.6), -1.25em -2.25em 0em 0em rgba($colour,.7);
  }
  18.18% {
    box-shadow:0em -2.6em 0em 0em rgba($colour,.7),1.25em -2.25em 0em 0em rgba($colour,.8), 2.15em -1.25em 0 0em $colour, 2.5em 0em 0 0em rgba($colour,.2), 2.1em 1.15em 0em 0em rgba($colour,.2), 1.25em 2.1em 0 0em rgba($colour,.2), 0em 2.5em 0 0em rgba($colour,.2), -1.25em 2.1em 0em 0em rgba($colour,.2), -2.1em 1.15em 0 0em rgba($colour,.3), -2.6em 0em 0 0em rgba($colour,.4),  -2.15em -1.25em 0 0em rgba($colour,.5), -1.25em -2.25em 0em 0em rgba($colour,.6);
  }
  27.27% {
  box-shadow:0em -2.6em 0em 0em rgba($colour,.6),1.25em -2.25em 0em 0em rgba($colour,.7), 2.15em -1.25em 0 0em rgba($colour,.8), 2.5em 0em 0 0em $colour, 2.1em 1.15em 0em 0em rgba($colour,.2), 1.25em 2.1em 0 0em rgba($colour,.2), 0em 2.5em 0 0em rgba($colour,.2), -1.25em 2.1em 0em 0em rgba($colour,.2), -2.1em 1.15em 0 0em rgba($colour,.2), -2.6em 0em 0 0em rgba($colour,.3),  -2.15em -1.25em 0 0em rgba($colour,.4), -1.25em -2.25em 0em 0em rgba($colour,.5);
  }
  36.36% {
  box-shadow:0em -2.6em 0em 0em rgba($colour,.5),1.25em -2.25em 0em 0em rgba($colour,.6), 2.15em -1.25em 0 0em rgba($colour,.7), 2.5em 0em 0 0em rgba($colour,.8), 2.1em 1.15em 0em 0em $colour, 1.25em 2.1em 0 0em rgba($colour,.2), 0em 2.5em 0 0em rgba($colour,.2), -1.25em 2.1em 0em 0em rgba($colour,.2), -2.1em 1.15em 0 0em rgba($colour,.2), -2.6em 0em 0 0em rgba($colour,.2),  -2.15em -1.25em 0 0em rgba($colour,.3), -1.25em -2.25em 0em 0em rgba($colour,.4);
  }
  45.45% {
  box-shadow:0em -2.6em 0em 0em rgba($colour,.4),1.25em -2.25em 0em 0em rgba($colour,.5), 2.15em -1.25em 0 0em rgba($colour,.6), 2.5em 0em 0 0em rgba($colour,.7), 2.1em 1.15em 0em 0em rgba($colour,.8), 1.25em 2.1em 0 0em $colour, 0em 2.5em 0 0em rgba($colour,.2), -1.25em 2.1em 0em 0em rgba($colour,.2), -2.1em 1.15em 0 0em rgba($colour,.2), -2.6em 0em 0 0em rgba($colour,.2),  -2.15em -1.25em 0 0em rgba($colour,.2), -1.25em -2.25em 0em 0em rgba($colour,.3);
  }
  54.54% {
  box-shadow:0em -2.6em 0em 0em rgba($colour,.3),1.25em -2.25em 0em 0em rgba($colour,.4), 2.15em -1.25em 0 0em rgba($colour,.5), 2.5em 0em 0 0em rgba($colour,.6), 2.1em 1.15em 0em 0em rgba($colour,.7), 1.25em 2.1em 0 0em rgba($colour,.8), 0em 2.5em 0 0em $colour, -1.25em 2.1em 0em 0em rgba($colour,.2), -2.1em 1.15em 0 0em rgba($colour,.2), -2.6em 0em 0 0em rgba($colour,.2),  -2.15em -1.25em 0 0em rgba($colour,.2), -1.25em -2.25em 0em 0em rgba($colour,.2);

  }
  63.63% {
  box-shadow:0em -2.6em 0em 0em rgba($colour,.2),1.25em -2.25em 0em 0em rgba($colour,.3), 2.15em -1.25em 0 0em rgba($colour,.4), 2.5em 0em 0 0em rgba($colour,.5), 2.1em 1.15em 0em 0em rgba($colour,.6), 1.25em 2.1em 0 0em rgba($colour,.7), 0em 2.5em 0 0em rgba($colour,.8), -1.25em 2.1em 0em 0em $colour, -2.1em 1.15em 0 0em rgba($colour,.2), -2.6em 0em 0 0em rgba($colour,.2),  -2.15em -1.25em 0 0em rgba($colour,.2), -1.25em -2.25em 0em 0em rgba($colour,.2);

  }
  72.72% {
  box-shadow:0em -2.6em 0em 0em rgba($colour,.2),1.25em -2.25em 0em 0em rgba($colour,.2), 2.15em -1.25em 0 0em rgba($colour,.3), 2.5em 0em 0 0em rgba($colour,.4), 2.1em 1.15em 0em 0em rgba($colour,.5), 1.25em 2.1em 0 0em rgba($colour,.6), 0em 2.5em 0 0em rgba($colour,.7), -1.25em 2.1em 0em 0em rgba($colour,.8), -2.1em 1.15em 0 0em $colour, -2.6em 0em 0 0em rgba($colour,.2),  -2.15em -1.25em 0 0em rgba($colour,.2), -1.25em -2.25em 0em 0em rgba($colour,.2);

  }
  81.8% {
  box-shadow:0em -2.6em 0em 0em rgba($colour,.2),1.25em -2.25em 0em 0em rgba($colour,.2), 2.15em -1.25em 0 0em rgba($colour,.2), 2.5em 0em 0 0em rgba($colour,.3), 2.1em 1.15em 0em 0em rgba($colour,.4), 1.25em 2.1em 0 0em rgba($colour,.5), 0em 2.5em 0 0em rgba($colour,.6), -1.25em 2.1em 0em 0em rgba($colour,.7), -2.1em 1.15em 0 0em rgba($colour,.8), -2.6em 0em 0 0em $colour,  -2.15em -1.25em 0 0em rgba($colour,.2), -1.25em -2.25em 0em 0em rgba($colour,.2);

  }
  90.9% {
  box-shadow:0em -2.6em 0em 0em rgba($colour,.2),1.25em -2.25em 0em 0em rgba($colour,.2), 2.15em -1.25em 0 0em rgba($colour,.2), 2.5em 0em 0 0em rgba($colour,.2), 2.1em 1.15em 0em 0em rgba($colour,.3), 1.25em 2.1em 0 0em rgba($colour,.4), 0em 2.5em 0 0em rgba($colour,.5), -1.25em 2.1em 0em 0em rgba($colour,.6), -2.1em 1.15em 0 0em rgba($colour,.7), -2.6em 0em 0 0em rgba($colour,.8),  -2.15em -1.25em 0 0em $colour, -1.25em -2.25em 0em 0em rgba($colour,.2); 

  }
}

@keyframes inertia-trail {
    @include inertia-trail-ani($black);
}
@keyframes classic {
    @include classic-ani($black);
}


/*
### Spinner - Classic

    <div class="c-spinner__container">
      <div class="c-spinner c-spinner--classic">
        <p>Loading &hellip;</p>
      </div>
    </div>

*/
/*
### Spinner - Inertia Trail

    <div class="c-spinner__container">
      <div class="c-spinner c-spinner--inertia-trail">
        <p>Loading &hellip;</p>
      </div>
    </div>

*/
