//-------------------------------------------
// _components.accessmenu.scss
//-------------------------------------------

.c-accessmenu {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

.c-accessmenu a:focus {
  position: static;
  clip: auto;
  height: auto;
  overflow: visible;
  display: block;
  width: 100%;
  padding: 1em 0;
  text-align: center;
  background: red;
  outline: 0;
}

.c-accessmenu a {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: #222;
  text-transform: uppercase;
  text-decoration: none;
}
