//_components.wysiwyg.scss

/*

### WYSIWYG iFrame Video (Responsive)
    <div class="c-wysiwyg">
        <div class="c-video--responsive">
            <iframe width="420" height="315" src="https://www.youtube.com/embed/ZExyPAFa6tk" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
*//*

### WYSIWYG Table (Responsive)

    <div class="c-wysiwyg">
        <div class="c-table__container">
            <table class="c-table">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Date</th>
                  <th>Rate</th>
                  <th>Amount</th>
                  <th>Location</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>John</td>
                  <td>Johnson</td>
                  <td><a href="javascript:void(0);">john.johnson@company.com</a></td>
                  <td><a href="javascript:void(0);">07444 555 666</a></td>
                  <td>22/10/2016</td>
                  <td>50%</td>
                  <td>£10k</td>
                  <td>UK</td>
                  <td><button class="c-button">Delete</button></td>
                </tr>
                <tr>
                  <td>Jane</td>
                  <td>Johnson</td>
                  <td><a href="javascript:void(0);">jane.johnson@company.com</a></td>
                  <td><a href="javascript:void(0);">0845 555 582</a></td>
                  <td>22/10/2016</td>
                  <td>80%</td>
                  <td>£12k</td>
                  <td>USA</td>
                  <td><button class="c-button">Delete</button></td>
                </tr>
                <tr>
                  <td>John</td>
                  <td>Johnson</td>
                  <td><a href="javascript:void(0);">john.johnson@company.com</a></td>
                  <td><a href="javascript:void(0);">07444 555 666</a></td>
                  <td>22/10/2016</td>
                  <td>50%</td>
                  <td>£10k</td>
                  <td>UK</td>
                  <td><button class="c-button">Delete</button></td>
                </tr>
                <tr>
                  <td>Jane</td>
                  <td>Johnson</td>
                  <td><a href="javascript:void(0);">jane.johnson@company.com</a></td>
                  <td><a href="javascript:void(0);">0845 555 582</a></td>
                  <td>22/10/2016</td>
                  <td>80%</td>
                  <td>£12k</td>
                  <td>USA</td>
                  <td><button class="c-button">Delete</button></td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>

*/

.c-wysiwyg {

    // Responsive Video Embed (requires wrapper)

    .c-video--responsive {
        position: relative;
        padding-bottom: 56.25%; // 16:9
        padding-top: 25px;
        height: 0;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    // Table Style

    .c-table__container {
        width:640px;
        overflow-x:scroll;
    }

    .c-table {
        background:$white;
        border-top: 1px solid #d8dde6;
        border-bottom: 1px solid #d8dde6;

        thead {

            th {
                text-transform:uppercase;
                text-align:left;
                padding: 0.5rem;
                white-space: nowrap;
                font-size:1rem;
                line-height:1.3;
            }

        }

        tbody {

            td {
                border-top: 1px solid #d8dde6;
                text-align:left;
                padding: 0.5rem;
                white-space: nowrap;
                font-size:1rem;
                line-height:1.3;
            }

            tr {

                &:hover > td,
                &:focus > td{
                    background-color:$grey-light;
                    box-shadow: $grey 0 -1px 0 inset;
                }

            }

        }




    }


}
