//_components.gallery.scss
.c-gallery {
  .c-gallery__inner {
    position: relative;
    width: 100%;
    margin: 0;
  }
  .c-gallery__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem 1rem 2rem 1rem;
    background: $grey-light;
  }
}

.c-gallery__image {
  display: block;
  width: 100%;
  height: auto;
}

.c-gallery-nav {
  padding: 0 2rem;
  .slick-next {
    right: 0;
  }
  .slick-prev {
    left: 0;
  }
  .c-gallery__item {
    &:focus {
      outline: 0;
    }
  }
}


/*

### Gallery with Carousel Navigation

    <div class="c-gallery js-gallery">
        <div class="c-gallery__item">
            <figure class="c-gallery__inner">
                <picture>
                    <img  class="c-gallery__image" src="http://placehold.it/350x150/cc0000/ffffff" alt="Banner description">
                </picture>
                <figcaption class="c-gallery__caption">Slide 01</figcaption>
            </figure>
        </div>
        <div class="c-gallery__item">
            <figure class="c-gallery__inner">
                <picture>
                    <img class="c-gallery__image" src="http://placehold.it/350x150/009900/ffffff" alt="Banner description">
                </picture>
                <figcaption class="c-gallery__caption">Slide 02</figcaption>
            </figure>
        </div>
        <div class="c-gallery__item">
            <figure class="c-gallery__inner">
                <picture>
                    <img  class="c-gallery__image" src="http://placehold.it/350x150/ff6600/ffffff" alt="Banner description">
                </picture>
                <figcaption class="c-gallery__caption">Slide 03</figcaption>
            </figure>
        </div>
        <div class="c-gallery__item">
            <figure class="c-gallery__inner">
                <picture>
                    <img  class="c-gallery__image" src="http://placehold.it/350x150/66ff00/ffffff" alt="Banner description">
                </picture>
                <figcaption class="c-gallery__caption">Slide 04</figcaption>
            </figure>
        </div>
    </div>

    <div class="c-gallery-nav js-gallery-nav">
        <div class="c-gallery__item">
            <figure>
                <picture>
                    <img class="c-gallery__image" src="http://placehold.it/350x150/cc0000/ffffff" alt="Banner description">
                </picture>
                <figcaption class="c-gallery__caption">Nav 01</figcaption>
            </figure>
        </div>
        <div class="c-gallery__item">
            <figure>
                <picture>
                    <img class="c-gallery__image" src="http://placehold.it/350x150/009900/ffffff" alt="Banner description">
                </picture>
                <figcaption class="c-gallery__caption">Nav 02</figcaption>
            </figure>
        </div>
         <div class="c-gallery__item">
            <figure>
                <picture>
                    <img class="c-gallery__image" src="http://placehold.it/350x150/ff6600/ffffff" alt="Banner description">
                </picture>
                <figcaption class="c-gallery__caption">Nav 03</figcaption>
            </figure>
        </div>
         <div class="c-gallery__item">
            <figure>
                <picture>
                    <img class="c-gallery__image" src="http://placehold.it/350x150/66ff00/ffffff" alt="Banner description">
                </picture>
                <figcaption class="c-gallery__caption">Nav 02</figcaption>
            </figure>
        </div>
    </div>

*/
