//-------------------------------------------
// _components.pills.scss
//-------------------------------------------
.c-pill {
  position: relative;
  display: inline-block;
  user-select: none;
  padding-right: 1.8rem;
  text-align: center;
  font-size: 85%;
  color: $grey-mid;
  white-space: normal;
  background: $white;
  background-clip: padding-box;
  border: 1px solid $grey-mid;
  border-radius: 3px;
  + .c-pill {
    margin-left: 0.5rem;
  }
}

.c-pill__link {
  display: inline-block;
  padding: 0 0.5rem;
  line-height: 1.5rem;
  color: $grey-dark;
  text-decoration: none;
  border: 0;
  background: transparent;
  &:hover,
  &:focus {
    background: $grey-light;
    color: $black;
    @include defaultTransition();
  }
  &--unlinked {
    display: inline-block;
    padding: 0 0.5rem;
    line-height: 1.5rem;
  }
}

.c-pill__reset {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: none;
  background: none;
  padding: 0;
  &:before {
    content: '\2716';
    display: inline-block;
    padding: 0.75rem 0.5rem;
    line-height: 0;
  }
  &:hover,
  &:focus {
    background: $grey-light;
    color: $black;
  }
}

.c-pill__icon {
  width: 0.8rem;
  height: 0.8rem;
  margin-top: -3px;
  margin-right: 0.5rem;
}

.c-pill__avatar {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.c-pill__container {
  padding: 0.5rem;
  background: rgba($grey-light, 0.5);
  border: 1px solid $grey-mid;
  border-radius: 3px;
}


/*
### Pill - Default
    <span class="c-pill">
      <a href="#" class="c-pill__link">
        <span class="c-pill__label">Pill Label</span></a>
      <button class="c-pill__reset" type="button">
        <span class="visually-hidden">Remove</span>
      </button>
    </span>

    <span class="c-pill">
      <button class="c-pill__link" type="button">
        <span class="c-pill__label">Pill Label</span></button>
      <button class="c-pill__reset" type="button">
        <span class="visually-hidden">Remove</span>
      </button>
    </span>

*/


/*
### Pill - with icon
    <span class="c-pill">
      <a href="#" class="c-pill__link">
        <span class="icon-warning c-pill__icon"></span>
        <span class="c-pill__label">Pill Label</span></a>
      <button class="c-pill__reset" type="button">
        <span class="visually-hidden">Remove</span>
      </button>
    </span>

    <span class="c-pill">
      <button class="c-pill__link" type="button">
        <span class="icon-warning c-pill__icon"></span>
        <span class="c-pill__label">Pill Label</span></button>
      <button class="c-pill__reset" type="button">
        <span class="visually-hidden">Remove</span>
      </button>
    </span>


*/


/*
### Pill - with avatar
    <span class="c-pill">
      <a href="#" class="c-pill__link">
        <img class="c-pill__avatar" src="/assets/img/avatar.png" alt="">
        <span class="c-pill__label">Pill Label</span></a>
      <button class="c-pill__reset" type="button">
        <span class="visually-hidden">Remove</span>
      </button>
    </span>

    <span class="c-pill">
      <button class="c-pill__link" type="button">
        <img class="c-pill__avatar" src="/assets/img/avatar.png" alt="">
        <span class="c-pill__label">Pill Label</span></button>
      <button class="c-pill__reset" type="button">
        <span class="visually-hidden">Remove</span>
      </button>
    </span>


*/


/*
### Pill - Unlinked
    <span class="c-pill">
      <span class="c-pill__link--unlinked">
        <span class="c-pill__label">Pill Label</span>
      </span>
      <button class="c-pill__reset" type="button">
        <span class="visually-hidden">Remove</span>
      </button>
    </span>


*/


/*
### Pill - with container
    <div class="c-pill__container">
        <span class="c-pill">
          <a href="#" class="c-pill__link">
            <span class="icon-warning c-pill__icon"></span>
            <span class="c-pill__label">Pill Label</span></a>
          <button class="c-pill__reset" type="button">
            <span class="visually-hidden">Remove</span>
          </button>
        </span>
        <span class="c-pill">
          <a href="#" class="c-pill__link">
            <span class="c-pill__label">Pill Label</span></a>
          <button class="c-pill__reset" type="button">
            <span class="visually-hidden">Remove</span>
          </button>
        </span>
        <span class="c-pill">
          <a href="#" class="c-pill__link">
            <img class="c-pill__avatar" src="/assets/img/avatar.png" alt="">
            <span class="c-pill__label">Pill Label</span></a>
          <button class="c-pill__reset" type="button">
            <span class="visually-hidden">Remove</span>
          </button>
        </span>
        <span class="c-pill">
          <span class="c-pill__link--unlinked">
            <span class="c-pill__label">Pill Label</span>
          </span>
          <button class="c-pill__reset" type="button">
            <span class="visually-hidden">Remove</span>
          </button>
        </span>
    </div>


*/
