//_components.forms.scss
//Form Layouts
//2 column form element
.c-form__row--2col--gal {
  @include clearfix;
  .c-form__element {
    @media #{$tablet-landscape} {
      @include gallery(6 of 12);
    }
  }
}

.c-form__row--2col {
  .c-form__element {
    @include clearfix;
  }
  .c-form__col:first-child {
    @media #{$tablet-landscape} {
      @include span(3)

    }
  }
  .c-form__col:last-child {
    @media #{$tablet-landscape} {
      @include span(9 last)
    }
  }
}

//Inline form
.c-form--inline {
  @include clearfix;
  .c-form__element {
    @media #{$tablet-landscape} {
      margin-right: gutters();
    }
  }
  .c-form__element,
  .c-form__element-control {
    display: inline-block;
    vertical-align: middle;
  }
  .c-form__element-label {
    margin-bottom: 0;
  }
  legend {
    margin-bottom: .5rem;
    @media #{$tablet-landscape} {
      float: left;
    }
    span {
      display: inline-block;
      margin-right: 3rem;
    }
  }
}

//Stacked form
.c-form--stacked {
  .c-form__element-label {
    margin-top: 2rem;
  }
  .c-form__element {
    display: block;
  }
}

//Form Elements
.c-form__element {
  position: relative;
  margin-bottom: 1rem;
}

.c-form__element-control {
  &--small {
    width: 174px;
    @media #{$tablet-landscape} {
      width: 50%;
    }
  }
  @media #{$tablet-landscape} {
    &--med {
      width: 70%;
    }
  }
}

//Form Element Labels
.c-form__element-label {
  cursor: pointer;
  font-weight: normal;
  margin: 1rem 0;
  @include rem(font-size,20);
  &--block {
    @extend .c-form__element-label;
    display: block;
  }
}

//Form Element Checkboxes -- Default UI
.c-form__checkbox {
  display: table-row;
  .c-form__element-label {
    display: table-cell;
    margin: 0;
    padding: 0 10px 0 0;
    vertical-align: middle;
    @include rem(font-size,15);
    &--terms {
      @include rem(font-size,13);
    }
  }
  &--hidden {
    display: block;
    .c-form__element-label {
      display: block;
      margin-bottom: .5rem;
      padding: .7rem;
      background: $white;
      border-radius: 22px;
      border: 1px solid $black;
      color: $black;
      @include rem(font-size,16);
      @media #{$tablet-landscape} {
        padding: .7rem 1.2rem;
        @include rem(font-size,17);
      }
    }
    [type="checkbox"] {
      position: absolute;
      clip: rect(0 0 0 0);
      padding: 0;
      overflow: hidden;
      border: 0;
      @include square(1px);
      &:checked {
        > .c-form__element-label,
        ~ .c-form__element-label {
          background: $black;
          color: $white;
        }
      }
      &:focus {
        > .c-form__element-label,
        ~ .c-form__element-label {
          border: 1px solid $grey;
        }
      }
    }
  }
}

//Form Element Custom Select
.c-form__element-control-select {
  position: relative;
  &:after {
    position: absolute;
    right: 15px;
    top: 5px;
    content: '';
    display: inline-block;
    border-top: 8px solid rgba($black, .5);
    border-right: 8px solid rgba($black, .5);
    transform: rotate(135deg);
    pointer-events: none;
    @include square(24px);
  }
  select {
    appearance: none;
    padding-right: 55px;
    &::-ms-expand {
      display: none;
    }
    /* for IE 11 */
  }
}
