//_components.buttons.scss

@mixin btn-theme($btn-color) {
    border-color:$btn-color;
    color:$btn-color;
    
    &:hover, 
    &:focus {
        background:$btn-color;
        color:$white;
    }

}

// Default button Style

[class^="c-button"] {
    display:inline-block;
    padding: .7rem 1.7rem;
    border:1px solid;
    border-radius:0;
    background:transparent;
    text-align:center;
    text-decoration:none;
    cursor:pointer;

    &:hover, 
    &:focus {
        color:$grey;
    }

    //@include btn-theme($black);
}

.c-button--thm1 {
    //@include btn-theme($blue);
}

.c-button--thm2 {
    //@include btn-theme($aqua);
}

.c-button--thm3 {
    //@include btn-theme($white);
    &:hover, 
    &:focus {
        color:$black;
    }
}

.c-button--icon {
    [class^="icon-"] {
        margin-left:15px;
    }
    &:hover, 
    &:focus {
        svg {
            fill:$white;
        }
    }
}