.c-carousel{

}

.c-carousel__item{

}

.c-carousel__link{
  display: block;
}

.c-carousel__image{
  display: block;
  width: 100%;
  height: auto;
}

.c-carousel__background-image{
  display: block;
  width: 100%;
  height: 300px;

  background-size: cover;
  background-position: 50% 50%;
}

.c-carousel__item--video{

}