<div class="c-article-banner">

    <div class="c-article-banner__image" style="background-image:url('http://placehold.it/1225x280/5200cc/ffffff');"></div>


        <header class="c-article-banner__header">

            <div class="o-wrapper__inner">

                <span class="c-article-banner__catergory">Latest News</span>
                <h1 class="c-article-banner__title">Header</h1>
                <time class="c-article-banner__date" pubdate="pubdate" datetime="2009-10-09">Monday 28 November 2015</time>

            </div>

        </header>


</div>