<div class="c-article-listing--{{theme}} o-row--{{column}}--gal">
    <div class="o-wrapper__inner">

        <h3 class="c-article-listing__title">
            {{title}}
        </h3>

        <a href="#" class="c-button--thm3 c-article-listing__more-btn">More {{title}}</a>

    </div>

    <div class="o-wrapper__inner">

        <div class="c-article-listing__panel-container">

            <div class="o-col">

                <div role="img" class="c-article-listing__panel-image" style="background-image: url('http://placehold.it/500x360/cc00bb/ffffff');"></div>

                <div class="c-article-listing__panel-wrap">
                    <h3 class="c-article-listing__panel-title">
                        Heading goes here
                    </h3>

                    <p class="c-article-listing__panel-summary">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget sodales urna. Etiam rutrum ipsum et dui condimentum accumsan. Aenean posuere fermentum arcu
                    </p>

                    <a href="#" class="c-button">Find out more</a>

                </div>

            </div>

        </div>
    </div>


</div>