<ol class="c-breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li class="c-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a href="#" itemprop="item">
      <span itemprop="name">Descendant Page Name</span></a>
    <meta itemprop="position" content="1" />
  </li>
  <li class="c-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="#">
      <span itemprop="name">Descendant Page Name</span></a>
    <meta itemprop="position" content="2" />
  </li>
  <li class="c-breadcrumb__item is-active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <span itemprop="name">Current Page Name</span>
    <meta itemprop="position" content="3" />
  </li>
</ol>
