<div class="c-navigation" data-fixed="false">

  <div class="o-wrapper__inner">

    <a class="c-navigation__logo" href="/">Company Logo</a>

    <button class="c-navigation__mobile-menu-btn js-mobile-menu-cta">

      <span class="c-navigation__mobile-menu-icon">
        <span class="c-navigation__mobile-menu-line--top"></span>
        <span class="c-navigation__mobile-menu-line--middle"></span>
        <span class="c-navigation__mobile-menu-line--bottom"></span>
      </span>

      Menu

    </button>

    <div class="c-navigation__menu">

      <ul id="main-navigation" class="c-navigation__list">

        <li class="c-navigation__item">
          <a class="c-navigation__link" href="#">Home</a>
        </li>

        <li class="c-navigation__item">
          <a class="c-navigation__link" href="#">About</a>
        </li>

          <li class="c-navigation__item--dropdown">

            <a class="c-navigation__link--dropdown" href="">Dropdown</a>

            <ul class="c-navigation__dropdown-menu js-dropdown-menu">

              <li class="c-navigation__dropdown-item">
                <a class="c-navigation__dropdown-link" href="#">Link 1</a>
              </li>

              <li class="c-navigation__dropdown-item">
                <a class="c-navigation__dropdown-link" href="#">Link 2</a>
              </li>

              <li class="c-navigation__dropdown-item">
                <a class="c-navigation__dropdown-link" href="#">Link 3</a>
              </li>

            </ul>

          </li>

          <li class="c-navigation__item">
            <a class="c-navigation__link" href="">Contact</a>
          </li>

        </ul>

    </div>

  </div>
</div>