<!-- Alert bars -->
<div class="c-notify--alertbar c-notify--success">
  <div class="o-wrapper__inner">
    <div class="c-notify__inner" role="alert">
      <p>Some information about something</p>
      <button type="button" class="c-button--icon-bare c-notify__btn js-notify-close"><span class="icon-close" data-grunticon-embed></span><span class="visually-hidden">Close this notification</span></button>
    </div>
  </div>
</div>
<div class="c-notify--alertbar c-notify--info">
  <div class="o-wrapper__inner">
    <div class="c-notify__inner c-notify__inner--icon" role="alert">
      <span class="icon-info c-notify__indicator" data-grunticon-embed=""></span>
      <p>Some information about something</p>
      <button type="button" class="c-button--icon-bare c-notify__btn js-notify-close"><span class="icon-close" data-grunticon-embed></span><span class="visually-hidden">Close this notification</span></button>
    </div>
  </div>
</div>
<div class="c-notify--alertbar c-notify--warning">
  <div class="o-wrapper__inner">
    <div class="c-notify__inner c-notify__inner--iconlarge" role="alert">
      <span class="icon-info c-notify__indicator" data-grunticon-embed=""></span>
      <p>Some information about something</p>
      <button type="button" class="c-button--icon-bare c-notify__btn js-notify-close"><span class="icon-close" data-grunticon-embed></span><span class="visually-hidden">Close this notification</span></button>
    </div>
  </div>
</div>
<div class="c-notify--alertbar c-notify--info" role="alert">
  <div class="o-wrapper__inner">
    <div class="c-notify__inner">
      <p>Some information about something</p>
      <button type="button" class="c-button--icon-bare c-notify__btn js-notify-close"><span class="icon-close" data-grunticon-embed></span><span class="visually-hidden">Close this notification</span></button>
    </div>
  </div>
</div>
<!-- In page notifications -->
<div class="c-notify--info" role="alert">
  <div class="c-notify__inner">
    <p>Some information about something</p>
    <button type="button" class="c-button--icon-bare c-notify__btn js-notify-close"><span class="icon-close" data-grunticon-embed></span><span class="visually-hidden">Close this notification</span></button>
  </div>
</div>
<div class="c-notify--info" role="alert">
  <div class="c-notify__inner c-notify__inner--icon">
    <span class="icon-info c-notify__indicator" data-grunticon-embed></span>
    <p>Some information about something</p>
    <button type="button" class="c-button--icon-bare c-notify__btn js-notify-close"><span class="icon-close" data-grunticon-embed></span><span class="visually-hidden">Close this notification</span></button>
  </div>
</div>
<div class="c-notify--info" role="alert">
  <div class="c-notify__inner c-notify__inner--iconlarge">
    <span class="icon-info c-notify__indicator" data-grunticon-embed></span>
    <p>Some information about something</p>
    <button type="button" class="c-button--icon-bare c-notify__btn js-notify-close"><span class="icon-close" data-grunticon-embed></span><span class="visually-hidden">Close this notification</span></button>
  </div>
</div>
<div class="c-notify--success" role="alert">
  <div class="c-notify__inner c-notify__inner--icon">
    <span class="icon-success c-notify__indicator" data-grunticon-embed></span>
    <p>Some information about something</p>
    <button type="button" class="c-button--icon-bare c-notify__btn js-notify-close"><span class="icon-close" data-grunticon-embed></span><span class="visually-hidden">Close this notification</span></button>
  </div>
</div>
<div class="c-notify--warning" role="alert">
  <div class="c-notify__inner c-notify__inner--icon">
    <span class="icon-warning c-notify__indicator" data-grunticon-embed></span>
    <p>Some information about something</p>
    <button type="button" class="c-button--icon-bare c-notify__btn js-notify-close"><span class="icon-close" data-grunticon-embed></span><span class="visually-hidden">Close this notification</span></button>
  </div>
</div>
<div class="c-notify c-notify--error" role="alert">
  <div class="c-notify__inner c-notify__inner--icon">
    <span class="icon-error c-notify__indicator" data-grunticon-embed></span>
    <p>Some information about something</p>
    <button type="button" class="c-button--icon-bare c-notify__btn js-notify-close"><span class="icon-close" data-grunticon-embed></span><span class="visually-hidden">Close this notification</span></button>
  </div>
</div>
<div class="c-notify--alertbar c-notify--info" role="alert">
  <div class="o-wrapper__inner">
    <div class="c-notify__inner">
      <p>Some information about something</p>
      <button type="button" class="c-button--icon-bare c-notify__btn js-notify-close"><span class="icon-close" data-grunticon-embed></span><span class="visually-hidden">Close this notification</span></button>
    </div>
  </div>
</div>
