<ul class="c-social-links">
    <li>
        <a href="https://www.facebook.com/share.php?u=https://www.google.co.uk/" class="ms-facebook c-social-links__item js-share-item"><span class="c-social-links__icon icon-fb_icon"></span>Share</a>
    </li>
    <li>
        <a href="https://twitter.com/share?url=https://www.google.co.uk/" class="ms-twitter c-social-links__item js-share-item"><span class="c-social-links__icon icon-tw_icon"></span>Tweet</a>
    </li>
    <li>
        <a href="https://plus.google.com/share?url=https://www.google.co.uk/" class="ms-google-plus c-social-links__item js-share-item"><span class="c-social-links__icon icon-gp_icon"></span>Plus 1</a>
    </li>
    <li>
        <a href="http://pinterest.com/pin/create/button/?url=https://www.google.co.uk/" class="ms-pinterest c-social-links__item js-share-item"><span class="c-social-links__icon icon-pin_icon"></span>Pin It</a>
    </li>
    <li>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url=www.google.co.uk&title=&summary=&source=" class="ms-linkedin c-social-links__item js-share-item"><span class="c-social-links__icon icon-linked_icon"></span>Linked</a>
    </li>
    <li>
        <a href="mailto:?subject=Subject-goes-Here&body=Body-goes-here" class="ms-mail c-social-links__item js-share-item"><span class="c-social-links__icon icon-email"></span>Email</a>
    </li>
</ul>