<div class="c-tabs js-tabs">

  <ul class="c-tabs__navigation" role="tablist">

    <li class="c-tabs__navigation-item">
      <a class="c-tabs__navigation-action js-tabs-button" href="#tab1" role="tab" aria-selected="true">
        <span>Tab 1</span>
      </a>
    </li>

    <li class="c-tabs__navigation-item">
      <a class="c-tabs__navigation-action--with-icon js-tabs-button" href="#tab2" role="tab" aria-selected="true">
        <span>Tab 2</span>
      </a>
    </li>

  </ul>

  <div class="c-tabs__container">

    <div class="c-tabs__panel js-tabs-panel" id="tab1" aria-labelledby="tab1" role="tabpanel" aria-hidden="true">
      <section class="c-wysiwyg">
        <h2>tab 1</h2>
      </section>
    </div>

    <div class="c-tabs__panel js-tabs-panel" id="tab2" aria-labelledby="tab2" role="tabpanel" aria-hidden="true">
      <section class="c-wysiwyg">
        <h2>tab 2</h2>
      </section>
    </div>

  </div>

</div>

